<section>
  @if(platform.isBrowser){
  <owl-carousel-o [options]="customOptions">
    @for (itrData of list_item; track itrData){
    <ng-template carouselSlide>
      <div class="card">
        <div class="body-card">
          <h2>
            <strong>{{
              carouselPipe.transform(itrData.product.nombre, "name-product")
            }}</strong>
          </h2>
          <img
            [title]="itrData.product.nombre"
            [src]="
              carouselPipe.transform(itrData.product.files, 'image-product')
            "
          />
          <button mat-stroked-button (click)="viewProduct(itrData.product)">
            Ver mas
          </button>
        </div>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
  }@else {
  <ul class="text-hidden">
    @for (itrData of list_item; track itrData){
    <li>
      {{ carouselPipe.transform(itrData.product.nombre, "name-product") }}
    </li>
    }
  </ul>
  }
</section>
