<div class="container">
    <div class="image_background"></div>
    <div class="content">
        <div class="map_contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.75423666976!2d-98.20318678566328!3d19.03054825834622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc14e2e34cf31%3A0xd1daf41892ae66b1!2sVenta%20de%20Medidores%20de%20Agua%20Soluciones%20Comerciales%20Hidr%C3%A1ulicas%20Pereira%20S.%20de%20R.%20L.!5e0!3m2!1sen!2smx!4v1651078409120!5m2!1sen!2smx" loading="lazy" class="map_item"></iframe>
        </div>
        <div class="data_contact">
            <label class="title_contact">Contáctanos</label>
            <div class="map_text">
                <div class="map_text_item"><mat-icon class="map_text_icon">location_on</mat-icon>Priv. 6a Sur 2914-Oficina No. 303, Ladrillera de Benítez, 72530 Puebla, Pue.</div>
                <div class="map_text_item"><mat-icon class="map_text_icon">phone</mat-icon>22-28-94-71-94</div>
                <div class="map_text_item"><mat-icon class="map_text_icon">email</mat-icon>solucionescomerciales_jmpf@outlook.com</div>
            </div>
            <div class="social_networks">
                <a href="https://www.linkedin.com/in/soluciones-jmpf-58a96a144/" target="_blank"><i class="fa fa-linkedin-square social_networks_item"></i></a> 
                <a href="https://www.instagram.com/soluciones_hidraulica_pereira/?hl=es-la" target="_blank"><i class="fa fa-instagram social_networks_item"></i></a>     
                <a href="https://twitter.com/soluciones_jmpf" target="_blank"><i class="fa fa-twitter social_networks_item"></i></a>
                <a href="https://api.whatsapp.com/send?phone=524422264978&text=Quiero mas información sobre sus productos." target="_blank"><i class="fa fa-whatsapp social_networks_item"></i></a>     
                <a href="https://www.facebook.com/solucionesComercialesJMPF.ALFA/photos/?ref=page_internal" target="_blank"><i class="fa fa-facebook-square social_networks_item"></i></a>  
            </div>
        </div>
    </div>
</div>