<div class="container">
    <div class="partData">
        <div class="imgService" [style.background-image]="'url(./../../../../assets/'+currentService.icon+')'">
            <div class="imgService_title"><h1>{{currentService.title}}</h1></div>
        </div>
        <div class="informationService">
            <h2>{{currentPart[0].subTitle}}</h2>
            <p class="descriptionS">{{currentPart[0].description}}</p>
        </div>
    </div>

    <div class="partData">
        <div class="imgService" [style.background-image]="'url(./../../../../assets/'+currentPart[1].image+')'">
            <div class="informationService">
                <h2>{{currentPart[1].subTitle}}</h2>
                <ul class="listInfo">
                    <li *ngFor="let itrCharacteristic of currentPart[1].listCharacteristic" class="li_characteristic">{{itrCharacteristic}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="partData">
        <div class="imgService" [style.background-image]="'url(./../../../../assets/'+currentPart[2].image+')'"></div>
        <div class="informationService">
            <h2>{{currentPart[2].subTitle}}</h2>
            <ul class="listInfo">
                <li *ngFor="let itrBenefit of currentPart[2].listBenefit" class="li_characteristic">{{itrBenefit}}</li>
            </ul>
        </div>
    </div>

    <div class="partData">
        <form  [formGroup]="formGroup" (submit)="false" class="form">
            <div class="form_part">
                <mat-form-field appearance="none" class="form_item">
                    <mat-label>Empresa/Persona</mat-label>
                    <input  type="text" matInput  formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="formGroup.invalid">Ingrese la empresa/persona</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="none" class="form_item">
                    <mat-label>Correo</mat-label>
                    <input  type="email" matInput  formControlName="email" [errorStateMatcher]="matcher" email="true">
                    <mat-error *ngIf="formGroup.invalid">Ingrese un correo</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="none" class="form_item">
                    <mat-label>Telefono</mat-label>
                    <input  type="text" matInput  formControlName="phone" [errorStateMatcher]="matcher">
                </mat-form-field>

                <mat-form-field appearance="none" class="form_item">
                    <mat-label>CP</mat-label>
                    <input  type="text" matInput  formControlName="cp" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="formGroup.invalid">Ingrese el codigo postal</mat-error>
                </mat-form-field>
            </div>

            <div class="form_part">      
                <mat-form-field appearance="none" class="form_textArea">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput formControlName="description" class="textArea_simple" maxlength="1000"></textarea>
                </mat-form-field>

                <div class="form_part_recaptcha">
                    <ngx-recaptcha2 class="recaptcha" #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
                    </ngx-recaptcha2>
                    <button mat-flat-button class="btn_send" (click)="sentRequest()">Solicitar Informarción</button>
                </div>
            </div>
        </form>
    </div>

</div>
