<div [ngSwitch]="case" class="container">

    <div class="filters" *ngSwitchCase="0">
        <div class="title">
            <label class="title_text">{{titleFilter}}</label>
            <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
        <div class="form">
            <mat-grid-list cols="3" rowHeight="2:1" class="grid_container">
                <mat-grid-tile *ngFor="let itrFilter of listFilter" class="item_grid" (click)="setResponse(itrFilter)">{{itrFilter.nombre}}</mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
        
    <div class="filters_movil" *ngSwitchCase="1">
        <div class="title">
            <label class="title_text">Filtrar</label>
            <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
        <div class="form">
            <mat-accordion style="width: 100%;">
                <mat-expansion-panel *ngFor="let itrFilter of listFilter" [expanded]="itrFilter.status">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{itrFilter.title}}</mat-panel-title>
                    </mat-expansion-panel-header >
                    <div *ngFor="let itr of itrFilter.list" class="itemFilter" (click)="setResponse({opcFilter:itrFilter.opcFilter,data:itr})"> 
                        {{itr.nombre}} 
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <div class="registerQuotation" *ngSwitchCase="2">
        <div class="title">
            <label class="title_text">Solicitar cotizacion</label>
            <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
        <form  [formGroup]="formGroup" (submit)="false" class="form">
            <mat-form-field appearance="none" class="form_item">
                <mat-label>Empresa/Persona</mat-label>
                <input  type="text" matInput  formControlName="name" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.invalid">Ingrese la empresa/persona</mat-error>
            </mat-form-field>

            <mat-form-field appearance="none" class="form_item">
                <mat-label>Correo</mat-label>
                <input  type="email" matInput  formControlName="email" [errorStateMatcher]="matcher" email="true">
                <mat-error *ngIf="formGroup.invalid">Ingrese un correo</mat-error>
            </mat-form-field>

            <mat-form-field appearance="none" class="form_item">
                <mat-label>Telefono</mat-label>
                <input  type="text" matInput  formControlName="phone" [errorStateMatcher]="matcher">
            </mat-form-field>

            <mat-form-field appearance="none" class="form_item">
                <mat-label>CP</mat-label>
                <input  type="text" matInput  formControlName="cp" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.invalid">Ingrese el codigo postal</mat-error>
            </mat-form-field>
            
            <ngx-recaptcha2 class="recaptcha" #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
            </ngx-recaptcha2>
        </form>
        <div class="form_btn">
            <button mat-flat-button class="btn_cancel"  mat-dialog-close>Cancelar</button>
            <button mat-flat-button class="btn_register" (click)="setResponse()">Enviar</button>
        </div>
    </div>
</div>
