<section class="us_info">
  <h3 class="borde-color-quater"><strong>Nosotros</strong></h3>
  <p>
    Somos una empresa dedicada a la creación de soluciones integrales,
    aprovechando de manera eficiente los recursos mediante el uso de tecnología
    de punta y herramientas que dan paso a la transparencia en la administración
    de consumos. <br /><br />Más de 25 años de experiencia en la industria
    respaldan nuestra metodología y conocimiento en la gestión proyectos
    relacionados a la hidrometría.
  </p>

  <h4>Trabajamos en un entorno de <br />enfoque del 100% al consumidor.</h4>
</section>
