<mat-toolbar>
    <mat-tab-group  #tabSearch class="mat-tab-group" color="transparent" animationDuration="0ms">
        <mat-tab  disabled>
            <div class="container">
                <div class="container_toolbar">
                    <div class="container_toolbar_item">
                        <button class="btn_menu" mat-icon-button aria-label="Menu" (click)="openSideNav(0)"><mat-icon>menu</mat-icon></button>
                        <div class="img_logo"></div>   
                    </div>    
                    <div class="container_toolbar_item">
                        <div class="input_search">
                            <input  matInput placeholder="Buscar" [formControl]="formControl" class="input_search_input" (ngModelChange)="autoCompleted()" (keyup.enter)="applySearch()" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let data of listObservable" [value]="data" [title]="data" (click)="applySearch()">{{data}}</mat-option>
                            </mat-autocomplete>

                            <button mat-button class="input_search_btn" (click)="applySearch()"><mat-icon class="mat-icon">search</mat-icon></button>
                        </div>          
                    </div>


                    <button mat-button class="btn_quotation" (click)="navegateUrl('/Product/List')">
                        <mat-icon class="sizeIcon">cloud_done</mat-icon>Cotiza Online
                    </button>
                    <button mat-button class="btn_shop" (click)="navegateUrl('/Product/ShoppingCar')" >
                        <mat-icon class="sizeIcon" [matBadgeHidden]="shoppingCar.length==0" [matBadge]="shoppingCar.length" matBadgeColor="warn">shopping_cart</mat-icon>Carrito
                    </button>
                    
                    <button mat-icon-button class="btn_search" (click)="applySearch()"><mat-icon class="mat-icon">search</mat-icon></button>

                </div>
                <div class="container_toolbar">
                    <div    [ngClass]="{'btn_select':listOption[0],
                                    'btn_unselect':!listOption[0]}" (click)="objNavegationService.navegatePage('Home')">
                        INICIO
                    </div>
                    <div    [ngClass]="{'btn_select':listOption[1],
                                    'btn_unselect':!listOption[1]}" (click)="objNavegationService.navegatePage('Product/List')">
                        PRODUCTOS
                    </div>
                    <div    [ngClass]="{'btn_select':listOption[2],
                                     'btn_unselect':!listOption[2]}" (click)="objNavegationService.navegatePage('Service/List')">
                        SERVICIOS
                    </div><!--
                     <div [ngClass]="{'btn_select':listOption[3],
                                    'btn_unselect':!listOption[3]}" (click)="objNavegationService.navegatePage('Offers')">
                        OFERTAS
                    </div>
                     <div   [ngClass]="{'btn_select':listOption[4],
                                    'btn_unselect':!listOption[4]}" (click)="objNavegationService.navegatePage('Quotation')">
                        COTIZAR
                    </div>-->
                    <div    [ngClass]="{'btn_select':listOption[5],
                                        'btn_unselect':!listOption[5]}" (click)="objNavegationService.navegatePage('Contact')">
                        CONTACTO
                    </div>
                     <div   [ngClass]="{'btn_select':listOption[6],
                                    'btn_unselect':!listOption[6]}" (click)="objNavegationService.navegatePage('AboutUs')">
                        ACERCA DE NOSOTROS
                    </div><!--
                     <div   [ngClass]="{'btn_select':listOption[7],
                                    'btn_unselect':!listOption[7]}" (click)="objNavegationService.navegatePage('Help')">
                        AYUDA
                    </div>-->
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>      
</mat-toolbar>
