<div class="water_meters_types">
  <h2>
    Tenemos el <strong>medidor de agua</strong> que se ajusta a tu necesidad
  </h2>

  <div class="container_grid">
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-para-comercio/medidores-de-agua-para-comercio-320.avif   320w,
          ./assets/products/medidores-de-agua-para-comercio/medidores-de-agua-para-comercio-480.avif   480w,
          ./assets/products/medidores-de-agua-para-comercio/medidores-de-agua-para-comercio-800.avif   800w,
          ./assets/products/medidores-de-agua-para-comercio/medidores-de-agua-para-comercio-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="medidor de agua comercial"
        alt="medidor de agua comercial"
        loading="lazy"
        priority
      />
      <h3 class="title_type">Residencial</h3>
    </div>
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-domésticos/medidores-de-agua-domésticos-320.avif   320w,
          ./assets/products/medidores-de-agua-domésticos/medidores-de-agua-domésticos-480.avif   480w,
          ./assets/products/medidores-de-agua-domésticos/medidores-de-agua-domésticos-800.avif   800w,
          ./assets/products/medidores-de-agua-domésticos/medidores-de-agua-domésticos-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="medidor de agua domestico"
        alt="medidor de agua domestico"
        loading="lazy"
        priority
      />
      <h3 class="title_type">Comercial</h3>
    </div>
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-industriales/medidores-de-agua-industriales-320.avif   320w,
          ./assets/products/medidores-de-agua-industriales/medidores-de-agua-industriales-480.avif   480w,
          ./assets/products/medidores-de-agua-industriales/medidores-de-agua-industriales-800.avif   800w,
          ./assets/products/medidores-de-agua-industriales/medidores-de-agua-industriales-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="medidor de agua industrial"
        alt="medidor de agua industrial"
        loading="lazy"
        priority
      />
      <h3 class="title_type">Industrial</h3>
    </div>
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-para-pozo/medidores-de-agua-para-pozo-320.avif   320w,
          ./assets/products/medidores-de-agua-para-pozo/medidores-de-agua-para-pozo-480.avif   480w,
          ./assets/products/medidores-de-agua-para-pozo/medidores-de-agua-para-pozo-800.avif   800w,
          ./assets/products/medidores-de-agua-para-pozo/medidores-de-agua-para-pozo-1200.avif 1200w
        "
        sizes="
            (max-width: 320px) 320px,
            (max-width: 480px) 480px,
            (max-width: 800px) 800px,
            1200px
          "
        title="medidor de agua para pozo"
        alt="medidor de agua para pozo"
        loading="lazy"
        priority
      />

      <h3 class="title_type">Pozo</h3>
    </div>
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-residuales/medidores-de-agua-residuales-320.avif   320w,
          ./assets/products/medidores-de-agua-residuales/medidores-de-agua-residuales-480.avif   480w,
          ./assets/products/medidores-de-agua-residuales/medidores-de-agua-residuales-800.avif   800w,
          ./assets/products/medidores-de-agua-residuales/medidores-de-agua-residuales-1200.avif 1200w
        "
        sizes="
            (max-width: 320px) 320px,
            (max-width: 480px) 480px,
            (max-width: 800px) 800px,
            1200px
          "
        title="medidor de agua residual"
        alt="medidor de agua residual"
        loading="lazy"
        priority
      />
      <h3 class="title_type">Riego</h3>
    </div>
    <div class="img_container">
      <img
        srcset="
          ./assets/products/medidores-de-agua-para-riego/medidores-de-agua-para-riego-320.avif   320w,
          ./assets/products/medidores-de-agua-para-riego/medidores-de-agua-para-riego-480.avif   480w,
          ./assets/products/medidores-de-agua-para-riego/medidores-de-agua-para-riego-800.avif   800w,
          ./assets/products/medidores-de-agua-para-riego/medidores-de-agua-para-riego-1200.avif 1200w
        "
        sizes="
        (max-width: 320px) 320px,
        (max-width: 480px) 480px,
        (max-width: 800px) 800px,
        1200px
      "
        title="medidor de agua para riego"
        alt="medidor de agua para riego"
        loading="lazy"
        priority
      />
      <h3 class="title_type">Residual</h3>
    </div>
  </div>
</div>
