<div class="water_meters_types">
  <h2>
    Tenemos el <strong>medidor de agua</strong> que se ajusta a tu necesidad
  </h2>

  <div class="container_grid">
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua comercial"
        src="./../../../../../assets/products/comercial.avif"
      />
      <h3 class="title_type">Residencial</h3>
    </div>
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua domestico"
        src="./../../../../../assets/products/domestico.avif"
      />
      <h3 class="title_type">Comercial</h3>
    </div>
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua industrial"
        src="./../../../../../assets/products/industrial.avif"
      />
      <h3 class="title_type">Industrial</h3>
    </div>
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua para pozo"
        src="./../../../../../assets/products/pozo.avif"
      />

      <h3 class="title_type">Pozo</h3>
    </div>
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua residual"
        src="./../../../../../assets/products/residual.avif"
      />
      <h3 class="title_type">Riego</h3>
    </div>
    <div class="img_container">
      <img
        loading="lazy"
        title="medidor de agua para riego"
        src="./../../../../../assets/products/riego.avif"
      />
      <h3 class="title_type">Residual</h3>
    </div>
  </div>
</div>
