<section class="whatIs">
  <h2>Medidores de Agua - Venta y Distribución</h2>
  <div class="info">
    <div class="description">
      <p>
        Los medidores de agua son dispositivos utilizados para medir el consumo
        de agua en hogares, industrias y establecimientos comerciales. Su
        función es registrar el volumen de agua que pasa a través de ellos.<br /><br />
        Soluciones Comerciales Hidráulicas Pereira nos especializamos en la
        distribución de medidores de alta precisión, garantizando calidad y
        eficiencia en cada producto.
      </p>
      <ul>
        <li>
          <h3>
            <strong
              ><a
                title="Venta de medidores para agua en Querétaro"
                routerLink="/Contacto"
                >Venta de medidores de agua en Querétaro</a
              >
            </strong>
          </h3>
        </li>
        <li>
          <strong
            ><a
              title="Venta de medidores para agua en Puebla"
              routerLink="/Contacto"
              >Venta de medidores de agua en Puebla</a
            >
          </strong>
        </li>
        <li>
          <h3>
            <strong
              ><a
                title="Venta de medidores en en toda la republica mexicana"
                routerLink="/Contacto"
                >Venta de medidores de agua en en toda la republica mexicana</a
              >
            </strong>
          </h3>
        </li>
      </ul>
    </div>

    <img
      src="./assets/logos/schp-marcas/schp-marcas.avif"
      title="soluciones comerciales Hidráulicas Pereira y medidores de agua itron, accell, alfa, ikei y dorot"
      alt="soluciones comerciales Hidráulicas Pereira y medidores de agua itron, accell, alfa, ikei y dorot"
    />
  </div>
</section>
