<div class="container">
    <div class="img_title"></div>

    <div class="row_s" *ngFor="let itrData of listData">
        <div class="item_s" *ngFor="let itrCard of itrData" (click)="viewService(itrCard)">
            <div class="icon_s" [style.background-image]="'url(./../../../../assets/'+itrCard.icon+')'"></div>
            <div class="title_s">{{itrCard.title}}</div>
            <ul class="listPounts_s">
                <li *ngFor="let itrInfo of itrCard.list">{{itrInfo}}</li>
            </ul>
        </div>
    </div>
  
</div>