<div class="container">
  @if(listImg.length>1){
  <div class="thumbs">
    @for (itrImg of listImg; track itrImg){
    <img
      onerror="this.src='assets/errors/default.avif'"
      alt="thumb imagen"
      (click)="selectImg(itrImg)"
      [class]="itrImg.select ? 'select' : ''"
      [src]="productPipe.transform(itrImg.direccion, 'picture-product')"
    />
    }
  </div>
  }

  <div class="complete">
    <img
      [id]="'img-' + currentImg.id"
      (click)="viewImage(elementRef)"
      onerror="this.src='assets/errors/default.avif'"
      [title]="'imagen producto ' + currentImg.id"
      [alt]="'imagen producto ' + currentImg.id"
      [src]="productPipe.transform(currentImg.direccion, 'picture-product')"
    />
  </div>
</div>
