<div class="container">
      <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of dataSlides;" class="slide" (click)="viewProduct(slide)"> 
                  <mat-card class="slide_card">
                        <mat-card-content class="slide_card_content">
                              <img alt="imagen carrusel" class="slide_img" onerror="this.onerror=null;this.src='./../../../../assets/default.jpg';" [src]="pipeProduct.transform(slide,0,'image1')" />
                              <div class="slide_text">{{pipeProduct.transform(slide,0,'cardName')}}</div>
                              <div class="slide_more">Ver mas</div>
                        </mat-card-content>
                  </mat-card>
            </div>
      </ngx-slick-carousel>
      
      <button class="container_btn" mat-fab aria-label="Before"  (click)="slickModal.slickNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button class="container_btn" mat-fab aria-label="Before"  (click)="slickModal.slickPrev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
</div>