<section>
  <div class="logo">
    <img
      title="logo quater"
      alt="logo quater"
      src="assets/quater/quater_logo_desktop.svg"
    />
    <button class="desktop" type="button" mat-stroked-button>
      <a title="Quater" routerLink="/Quater">Ver mas</a>
    </button>
  </div>
  <div class="info">
    <h3>La nueva forma de administrar el agua</h3>
    <div class="items">
      <div>
        <img
          title="Administración de consumo condominal"
          alt="Administración de consumo condominal"
          src="assets/quater/condominio-icon.svg"
        />
        <p>Administración de <br />consumo condominal</p>
      </div>

      <div>
        <img
          title="Proyectos llave en mano"
          alt="Proyectos llave en mano"
          src="assets/quater/project-icon.svg"
        />
        <p>Proyectos llave en mano</p>
      </div>

      <div>
        <img
          title="Gestión de dispositivos mediante LoRaWAN"
          alt="Gestión de dispositivos mediante LoRaWAN"
          src="assets/quater/signal-icon.svg"
        />
        <p>Gestión de dispositivos <br />mediante LoRaWAN</p>
      </div>

      <div>
        <img
          title="Comercialización de medidores de agua"
          alt="Comercialización de medidores de agua"
          src="assets/quater/water_meter-icon.svg"
        />
        <p>Comercialización de <br />medidores de agua</p>
      </div>

      <div>
        <img
          title="Interconexión informativa con los organismos"
          alt="Interconexión informativa con los organismos"
          src="assets/quater/connection-icon.svg"
        />
        <p>Interconexión informativa <br />con los organismos</p>
      </div>

      <div>
        <img
          title="Plataforma de transparencia en consumo y reporteo"
          alt="Plataforma de transparencia en consumo y reporteo"
          src="assets/quater/software-icon.svg"
        />
        <p>Plataforma de transparencia <br />en consumo y reporteo</p>
      </div>
    </div>
  </div>

  <button class="movil" type="button" mat-stroked-button>
    <a title="Quater" routerLink="/Quater">Ver mas</a>
  </button>
</section>
