<section>
  <div class="logo">
    <img alt="logo quater" src="assets/quater/quater_logo_desktop.svg" />
    <button class="desktop" type="button" mat-stroked-button>
      <a routerLink="/Quater">Ver mas</a>
    </button>
  </div>
  <div class="info">
    <h3>La nueva forma de administrar el agua</h3>
    <div class="items">
      <div>
        <img
          alt="Administración de consumo condominal"
          src="assets/quater/condominio-icon.svg"
        />
        <p>Administración de <br />consumo condominal</p>
      </div>

      <div>
        <img
          alt="Proyectos llave en mano"
          src="assets/quater/project-icon.svg"
        />
        <p>Proyectos llave en mano</p>
      </div>

      <div>
        <img
          alt="Gestión de dispositivos mediante LoRaWAN"
          src="assets/quater/signal-icon.svg"
        />
        <p>Gestión de dispositivos <br />mediante LoRaWAN</p>
      </div>

      <div>
        <img src="assets/quater/water_meter-icon.svg" />
        <p>Comercialización de <br />medidores de agua</p>
      </div>

      <div>
        <img src="assets/quater/connection-icon.svg" />
        <p>Interconexión informativa <br />con los organismos</p>
      </div>

      <div>
        <img alt="" src="assets/quater/software-icon.svg" />
        <p>Plataforma de transparencia <br />en consumo y reporteo</p>
      </div>
    </div>
  </div>

  <button class="movil" type="button" mat-stroked-button>
    <a routerLink="/Quater">Ver mas</a>
  </button>
</section>
