<div class="brands">
  <h2><strong> Somos distribuidores autorizados</strong></h2>
  <span>
    <a
      title="alfa"
      (click)="shareDataSearchService.close$.emit()"
      routerLink="/Productos/alfa"
    >
      <img
        srcset="
          ./assets/logos/medidores-de-agua-alfa/medidores-de-agua-alfa-320.avif   320w,
          ./assets/logos/medidores-de-agua-alfa/medidores-de-agua-alfa-480.avif   480w,
          ./assets/logos/medidores-de-agua-alfa/medidores-de-agua-alfa-800.avif   800w,
          ./assets/logos/medidores-de-agua-alfa/medidores-de-agua-alfa-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="materiales para medidores de agua alfa"
        alt="materiales para medidores de agua alfa"
        loading="lazy"
        priority
    /></a>
  </span>
  <span>
    <a
      title="itron"
      (click)="shareDataSearchService.close$.emit()"
      routerLink="/Productos/itron"
    >
      <img
        srcset="
          ./assets/logos/medidores-de-agua-itron/medidores-de-agua-itron-320.avif   320w,
          ./assets/logos/medidores-de-agua-itron/medidores-de-agua-itron-480.avif   480w,
          ./assets/logos/medidores-de-agua-itron/medidores-de-agua-itron-800.avif   800w,
          ./assets/logos/medidores-de-agua-itron/medidores-de-agua-itron-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="medidores de agua itron"
        alt="medidores de agua itron"
        loading="lazy"
        priority
    /></a>
  </span>
  <span>
    <a
      title="accell"
      (click)="shareDataSearchService.close$.emit()"
      routerLink="/Productos/accell"
    >
      <img
        srcset="
          ./assets/logos/medidores-de-agua-accell/medidores-de-agua-accell-320.avif   320w,
          ./assets/logos/medidores-de-agua-accell/medidores-de-agua-accell-480.avif   480w,
          ./assets/logos/medidores-de-agua-accell/medidores-de-agua-accell-800.avif   800w,
          ./assets/logos/medidores-de-agua-accell/medidores-de-agua-accell-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="medidores de agua accell"
        alt="medidores de agua accell"
        loading="lazy"
        priority
    /></a>
  </span>
  <span>
    <a
      title="miller"
      (click)="shareDataSearchService.close$.emit()"
      routerLink="/Productos/miller"
    >
      <img
        srcset="
          ./assets/logos/válvulas-miller/válvulas-miller-320.avif   320w,
          ./assets/logos/válvulas-miller/válvulas-miller-480.avif   480w,
          ./assets/logos/válvulas-miller/válvulas-miller-800.avif   800w,
          ./assets/logos/válvulas-miller/válvulas-miller-1200.avif 1200w
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        title="válvulas miller"
        alt="válvulas miller"
        loading="lazy"
        priority
    /></a>
  </span>
</div>
