<div class="brands">
  <h2><strong> Somos distribuidores autorizados</strong></h2>
  <span (click)="viewBrand('alfa')">
    <img
      loading="lazy"
      src="./../../../../../assets/logos/alfa.avif"
      alt="materiales para medidores de agua alfa"
    />
  </span>
  <span (click)="viewBrand('itron')">
    <img
      loading="lazy"
      src="./../../../../../assets/logos/itron.avif"
      alt="medidores para agua itron"
    />
  </span>
  <span (click)="viewBrand('accell')">
    <img
      loading="lazy"
      src="./../../../../../assets/logos/accell.avif"
      alt="medidores para agua accell"
    />
  </span>
  <span (click)="viewBrand('miller')">
    <img
      loading="lazy"
      src="./../../../../../assets/logos/miller.avif"
      alt="válvulas miller"
    />
  </span>
</div>
