<section class="container" [@fadeInOut]>
  <app-what-is></app-what-is>
  <app-type></app-type>

  <!-- <div class="types">
    <h2>Tipos de medidores de agua</h2>
    <ul>
      <li>
        <strong>Medidores Mecánicos:</strong> Funcionan a través de un sistema
        de engranajes que gira con el flujo de agua.
      </li>
      <li>
        <strong>Medidores Electromagnéticos:</strong> Usan principios de
        inducción para medir el flujo de agua.
      </li>
      <li>
        <strong>Medidores Ultrasónicos:</strong> Utilizan ondas de sonido para
        determinar la velocidad del agua y calcular el consumo.
      </li>
    </ul>
  </div> -->
</section>
