<section class="more_info">
  <div class="item" data-aos="flip-left" data-aos-duration="1500">
    <h3 class="borde-color-quater">
      <strong>Solución</strong><br /><strong>uater</strong><label>SISTEM</label>
    </h3>
    <p>
      uater SYSTEM es una solución tecnológica enfocada al usuario, nace con la
      ﬁnalidad de ofrecer al mercado una nueva forma de gestionar y medir el
      consumo de agua en los hogares mexicanos.<br /><br />
      <strong>Objetivo</strong> <br />El ﬁn de instalar un medidor de agua
      inteligente para cada condominio tiene como principal propósito la
      medición individualizada del consumo, trayendo consigo una gestión justa y
      optimizada del agua.
    </p>
  </div>

  <div class="item" data-aos="flip-right" data-aos-duration="1500">
    <img
      id="img-beneficios"
      (click)="viewImage(elementRef, '#img-beneficios')"
      title="beneficios administrar agua con quater"
      alt="beneficios administrar agua con quater"
      srcset="
        ./assets/quater/beneficios-administrar-agua-con-quater/beneficios-administrar-agua-con-quater-320.avif   320w,
        ./assets/quater/beneficios-administrar-agua-con-quater/beneficios-administrar-agua-con-quater-480.avif   480w,
        ./assets/quater/beneficios-administrar-agua-con-quater/beneficios-administrar-agua-con-quater-800.avif   800w,
        ./assets/quater/beneficios-administrar-agua-con-quater/beneficios-administrar-agua-con-quater-1200.avif 1200w
      "
      src="./assets/quater/beneficios-administrar-agua-con-quater/beneficios-administrar-agua-con-quater-800.avif"
      sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
      loading="lazy"
      priority
    />
  </div>
</section>
