<div class="container">
    <div class="carousel">
        <carousel_images [autoplay]="true" [dataSlides]="dataCarousel[0].details"></carousel_images>
    </div>

    <div class="content">
        <div class="container_brand">
            <h1 class="container_brand__text">Somos Distribuidores Autorizados</h1>

            <div class="container_brand__img">
                <div (click)="navegate(1,'ITRON')" class="container_brand__img__item"></div>
                <div (click)="navegate(1,'ALFA')" class="container_brand__img__item"></div>
                <div (click)="navegate(1,'MILLER VALVES')" class="container_brand__img__item"></div>
            </div>
        </div>

        <div (click)="navegate(0,null)" class="container_question">
            <h2 class="text_question">
                ¿No sabes que medidor de agua necesitas?, Mandanos un mensaje!
            </h2>
            <img alt="Medidor de agua" class="quotation_img" src="../../../../assets/click_icon.jpg"/>
        </div>

        <div class="container_separation">
            <h2 (click)="navegate(0,null)" class="separation__text">Conoce nuestros productos</h2>
            <mat-divider class="separation__divider"></mat-divider>
        </div>

        <div class="container__carouselCards">
            <carousel-cards [dataSlides]="dataCarousel[1].details"></carousel-cards>
        </div>

        <div class="container_message">
            <h2 class="text_message">
                ¿No encuentras lo que buscas?, Mandanos un mensaje!
            </h2>
            <img alt="Medidor de agua" class="quotation_img" src="../../../../assets/message_icon.jpg"/>
        </div>

        <div class="container_separation">
            <h2 class="separation__text">Tecnología en medición del agua</h2>
            <mat-divider class="separation__divider"></mat-divider>
        </div>

        <div [routerLink]="['/Service/List']" class="containerTecnology">
            <div class="gridTecnology"></div>
            <h2 class="TextTecnology">
                Toma la lectura manera inalambrica y reduce costos operativos con "Telemetría"
            </h2>
        </div>

        <div class="container_separation">
            <h2 class="separation__text">Nuestros medidores de agua</h2>
            <mat-divider class="separation__divider"></mat-divider>
        </div>

        <div (click)="navegate(1,'Medidor de agua')" class="containerMeasurer">
            <h2 class="TextMeasurer">
              Tenemos el medidor de agua que se ajusta a tu necesidad
            </h2>
            <div class="gridMeasurer" >
                <mat-grid-list class="gridMeasurer__grid" cols="3" rowHeight="10.45rem">
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Residencial</div></mat-grid-tile>
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Comercial</div></mat-grid-tile>
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Industrial</div></mat-grid-tile>
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Pozo</div></mat-grid-tile>
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Riego</div></mat-grid-tile>
                    <mat-grid-tile class="gridMeasurer__item"><div class="gridMeasurer__grid__text">Residual</div></mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div class="container_offers">
            <div class="gral_offer">
                <div (click)="navegate(0,null)" class="grid_img">
                    <div class="img_offers" id="offerImgGral"></div>
                    <h2 class="text_offersGral">Descrubre precios unicos</h2>
                </div>
            </div>
            <div class="grid_content">
                <mat-grid-list [cols]="countColumn[0]" class="gridOffer__grid" rowHeight="9rem">
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Conexion')" class="grid_img">
                            <div class="img_offers" id="offerImg1"></div>
                            <div class="text_offers">Conexiones</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Medidor de agua')" class="grid_img">
                            <div class="img_offers" id="offerImg2"></div>
                            <div class="text_offers">Medidores de agua</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Valvula')" class="grid_img">
                            <div class="img_offers" id="offerImg3"></div>
                            <div class="text_offers">Valvulas</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Adhesivo')" class="grid_img">
                            <div class="img_offers" id="offerImg4"></div>
                            <div class="text_offers">Adhesivos</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Kit')" class="grid_img">
                            <div class="img_offers" id="offerImg5"></div>
                            <div class="text_offers">Kits</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile class="gridOffer__item">
                        <div (click)="navegate(1,'Otro')" class="grid_img">
                            <div class="img_offers" id="offerImg6"></div>
                            <div class="text_offers">Otros</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div (click)="navegate(0,null)" class="container_quotation">
            <h2 class="text_quotation">
                Empieza a cotizar tus productos de manera "ONLINE"
            </h2>
            <img alt="cotizar online" class="quotation_img" src="../../../../assets/quotation_icon.jpg"/>
        </div>

        <div class="container_separation">
            <h2 class="separation__text">Nuestros servicios</h2>
            <mat-divider class="separation__divider"></mat-divider>
        </div>

        <div [routerLink]="['/Service/List']" class="containerService">
            <mat-grid-list [cols]="countColumn[1]" class="gridService__grid" rowHeight="7.5rem">
                <mat-grid-tile [rowspan]="this.gridService[0].cols" [rowspan]="this.gridService[0].rows" class="gridService__item"><div class="gridService__grid__text">Detección de Fugas</div></mat-grid-tile>
                <mat-grid-tile [colspan]="this.gridService[1].cols" [rowspan]="this.gridService[1].rows" class="gridService__item"><div class="gridService__grid__text">Capacitaciones</div></mat-grid-tile>
                <mat-grid-tile [rowspan]="this.gridService[2].cols" [rowspan]="this.gridService[2].rows" class="gridService__item"><div class="gridService__grid__text">Instalacion de medidor</div></mat-grid-tile>
                <mat-grid-tile [colspan]="this.gridService[3].cols" [rowspan]="this.gridService[3].rows" class="gridService__item"><div class="gridService__grid__text">Telemetría</div></mat-grid-tile>
                <mat-grid-tile [rowspan]="this.gridService[4].cols" [rowspan]="this.gridService[4].rows" class="gridService__item"><div class="gridService__grid__text">Pruebas</div></mat-grid-tile>
                <mat-grid-tile [rowspan]="this.gridService[5].cols" [rowspan]="this.gridService[5].rows" class="gridService__item"><div class="gridService__grid__text">Adecuaciones</div></mat-grid-tile>
                <mat-grid-tile [colspan]="this.gridService[6].cols" [rowspan]="this.gridService[6].rows" class="gridService__item"><div class="gridService__grid__text">Cuadros para medidor</div></mat-grid-tile>
                <mat-grid-tile [colspan]="this.gridService[7].cols" [rowspan]="this.gridService[7].rows" class="gridService__item"><div class="gridService__grid__text">Asesorias</div></mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="containerPayment">
        <mat-grid-list [cols]="countColumn[1]" [rowHeight]="sizeRow">
            <mat-grid-tile >
                <div class="gridPayment__item">
                    <p class="payment_text">Metodos de pago</p>
                    <img alt="Metodo de pago de medidor de agua" class="pay__img" src="../assets/pay_card.jpg">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="gridPayment__item">
                    <p class="payment_text">Envios</p>
                    <img alt="Envio de medidor de agua" class="pay__img" src="../assets/pay_send.jpg">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="gridPayment__item">
                    <p class="payment_text">Facturacion</p>
                    <img alt="Facturacion de medidor de agua" class="pay__img" src="../assets/pay_invoice.jpg">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="gridPayment__item">
                    <p class="payment_text">Seguridad</p>
                    <img alt="Compra segura de medidor de agua" class="pay__img" src="../assets/pay_security.jpg">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>
