@import '../../../../css/colors.css';
@import '../../../../css/panel.css';
@import '../../../../css/snack_bar.css';

.container
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100vw;
    padding:0;
}

.content
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}

.carousel
{
    position: relative;
    width: 100%;
}

.container_brand
{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:2.5rem;
    border-radius: 5px;
    background-color: var(--color3-1);
}

.container_brand__text
{
    width: 20%;
    font-size: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: var(--color3-1);
    background-color: var(--color8-1);
}

.container_brand__img
{
    width: 80%;
    height: 100%;
    flex-direction: row;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.container_brand__img__item
{
    height: 50%;
    width: 30%;

    cursor: pointer;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}

.container_brand__img__item:nth-child(1)
{
    background-image: url(../../../../assets/itron_logo.svg);
}

.container_brand__img__item:nth-child(2)
{
    background-image: url(../../../../assets/alfa_logo.svg);
}

.container_brand__img__item:nth-child(3)
{
    background-image: url(../../../../assets/miller_logo.svg);
}

.container_separation
{
    width: 100%;
    height:2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.separation__text
{
    cursor: pointer;
    font-size:1.2rem;
    color:var(--color4-5);
    line-height:2rem;
    text-align: center;
    margin-right: 0.5rem;
    height: 100%;
}

.separation__divider
{
    border:0;
    flex-grow: 10;
    height: 0.2rem;
    background-color: var(--color3-1);
    padding: 0;
    outline: 0;
}

.container__carouselCards
{
    width: 100%;
    padding: 0;
}

.containerTecnology,
.containerMeasurer,
.containerService,
.container_quotation,
.container_question,
.container_message,
.container_offers
{
    cursor: pointer;
    display: flex;
    justify-content: space-around;

    background-color: var(--color3-1);
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
}

.containerTecnology
{
    height: 20rem;
}

.containerService
{
    text-align: center;
    background-color: white;
    height: 30rem;
    margin-bottom: 2.5rem;
    border:none;
    box-shadow: none;
    flex-direction: column;
}

.container_quotation,
.container_question,
.container_message
{
    justify-content: flex-start;
    margin-top:2.5rem;
    height: 8rem;
}

.container_offers
{
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:2.5rem;
    background-color: transparent;
}

.grid_img,
.grid_content
{
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid_img
{
    flex-direction: column;
    width: 20rem;
    background-color: var(--color3-1);
}

.gral_offer
{
    width: 20rem;
    height: 20rem;
}

.grid_content
{
    flex-grow: 10;
    padding: 1rem;
    box-sizing: border-box;
}

.img_offers
{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    object-fit: cover;
    width:100%;
    height: 100%;
    background-color: var(--color3-1);
}

#offerImgGral
{
    background-image: url("../../../../assets/products_all.jpg");
}


#offerImg1
{
    background-image: url("../../../../assets/conections_all.jpg");
}

#offerImg2
{
    background-image: url("../../../../assets/water_meter_all.jpg");
}

#offerImg3
{
    background-image: url("../../../../assets/valves_all.jpg");
}

#offerImg4
{
    background-image: url("../../../../assets/adhesive_all.jpg");
}

#offerImg5
{
    background-image: url("../../../../assets/kit_all.jpg");
}

#offerImg6
{
    background-image: url("../../../../assets/another_all.jpg");
}

.text_offersGral
{
    color:var(--color6-1);
    font-weight: bolder;

    padding: 1rem 0;
    width:100%;
    text-align: center;
}

.text_offers
{
    padding-top: 0.5rem;
    font-size:0.75rem;
    color:var(--color6-1);
    font-weight: bolder;
    width:100%;
    text-align: center;
}

.text_quotation,
.text_question,
.text_message
{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    flex-grow: 10;
    margin:0;
    padding: 0.5rem;
    height:100%;
    color:var(--color3-1);
    background-color: var(--color6-2);
    box-sizing: border-box;
}

.text_question
{
    background-color: var(--color5-1);
}

.text_message
{
    background-color: var(--color7-1);
}

.quotation_img
{
    object-fit: contain;
    width:10rem;
    height:100%;
}

.itemCard
{
    max-width: 38rem;
    height: 16rem;
    margin: 0 5px;
}

.cardImg
{
    display: block;
    max-width: 100%;
    height: 100px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.img__logo
{
    display: block;
    background-color: var(--color3-1);
    max-width: 20%;
    height: 80%;
    object-fit: contain;
    border-radius: 50%;
}

.containerTecnology,
.containerMeasurer
{
    align-items: center;
}

.containerMeasurer
{
    background-color: var(--color6-2);
}

.TextMeasurer,
.TextTecnology
{
    font-size: 1rem;
    display: flex;
    height: 100%;
    width: 15rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color3-1);
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
}

.TextTecnology
{
    background-color: var(--color5-1);
}

:host /deep/ mat-grid-tile
{
    padding: 0;
    outline: 0;
    margin: 0;
}

.gridTecnology,
.gridMeasurer
{
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

.gridTecnology
{
    background-color: var(--color3-1);
    background-image: url(../../../../assets/example_lora_complete.jpg);
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
}

.gridMeasurer__grid,
.gridService__grid,
.gridOffer__grid
{
    height: 100%;
    width: 100%;
}

.gridMeasurer__item,
.gridService__item,
.gridOffer__item
{
    cursor: pointer;
    background-size: cover;
    background-position:center;
    background-color: var(--color3-1);
}

.gridMeasurer__grid__text,
.gridService__grid__text
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bolder;

    color: var(--color3-1);
    background-color: var(--color4-5);
}

.gridMeasurer__item:nth-child(1)
{
    background-image: url(../../../../assets/domestico.jpg);
}

.gridMeasurer__item:nth-child(2)
{
    background-image: url(../../../../assets/comercial.jpg);
}

.gridMeasurer__item:nth-child(3)
{
    background-image: url(../../../../assets/industrial.jpg);
}

.gridMeasurer__item:nth-child(4)
{
    background-image: url(../../../../assets/pozo.jpg);
}

.gridMeasurer__item:nth-child(5)
{
    background-image: url(../../../../assets/riego.jpg);
}

.gridMeasurer__item:nth-child(6)
{
    background-image: url(../../../../assets/residual.jpg);
}

.gridService__item:nth-child(1)
{
    background-image: url(../../../../assets/servicio_01.jpg);
}

.gridService__item:nth-child(2)
{
    background-image: url(../../../../assets/servicio_02.jpg);
}

.gridService__item:nth-child(3)
{
    background-image: url(../../../../assets/servicio_03.jpg);
}

.gridService__item:nth-child(4)
{
    background-image: url(../../../../assets/servicio_04.jpg);
}

.gridService__item:nth-child(5)
{
    background-image: url(../../../../assets/servicio_05.jpg);
}

.gridService__item:nth-child(6)
{
    background-image: url(../../../../assets/servicio_06.jpg);
}

.gridService__item:nth-child(7)
{
    background-image: url(../../../../assets/servicio_07.jpeg);
}

.gridService__item:nth-child(8)
{
    background-image: url(../../../../assets/servicio_08.jpg);
}

.containerPayment
{
    background-color:white;
    width: 100%;
}

.gridPayment__item
{
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    color: black;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment_text
{
    font-weight: bolder;
    font-size: 0.8rem;
    font-style: italic;
    display: block;
}

.pay__img
{
    display: block;
    background-color: white;
    max-width: 20%;
    object-fit: contain;
    border-radius: 0;
    height: 30%;
}

@media screen and (max-width:767px)
{
    .container_brand,
    .containerMeasurer,
    .container_offers
    {
        flex-direction: column;
    }

    .containerTecnology
    {
        flex-direction: column-reverse;
    }

    .gral_offer
    {
        width:100%;
        height:9rem;
    }

    .gral_offer .grid_img
    {
        flex-direction:row;
    }

    .grid_img
    {
        width: 100%;
        height:9rem;
        align-items: center;
    }

    .grid_content
    {
        width: 100%;
    }

    .container_brand
    {
        height:30rem;
    }

    .container_brand__img
    {
        height: 90%;
        flex-direction: column;
    }

    .container_brand__img__item
    {
        height: 5rem;
        width: 10rem;
    }

    .TextMeasurer,
    .TextTecnology
    {
        height:5rem;
        width: 100%;
    }

    .gridTecnology,
    .gridMeasurer
    {
        width: 100%;
    }

    .container_brand__text
    {
        width: 100%;
        height: 10%;
    }

    .text_quotation,
    .text_question
    {
        font-size: 0.8rem;
    }
}

@media screen and (min-width:768px)
{
    .container_brand
    {
        flex-direction: row;
        height: 10rem;
    }

    .container_brand__text
    {
        height: 100%;
    }
}
