<section class="container" [@fadeInOut]>
  @for (itrItem of items; track itrItem; let index = $index){
  <div
    class="item"
    [attr.data-aos]="index > 1 ? 'fade-up' : null"
    [attr.data-aos-duration]="index > 1 ? '1000' : null"
  >
    <div class="card">
      <img
        [alt]="itrItem.title"
        [src]="itrItem.url"
        onerror="this.src='assets/errors/default.avif'"
      />
      <div class="description">
        <h2>
          <strong> {{ itrItem.title }}</strong>
        </h2>
        <ul>
          @for (itrC of itrItem.list; track itrC){
          <li>{{ itrC }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  }
</section>
