<section class="container" [@fadeInOut]>
  @for (itrItem of items; track itrItem){
  <div class="item" data-aos="fade-up" data-aos-duration="1000">
    <div class="card">
      <img
        [alt]="itrItem.title"
        [src]="itrItem.url"
        onerror="this.src='assets/errors/default.avif'"
      />
      <div class="description">
        <h2>
          <strong> {{ itrItem.title }}</strong>
        </h2>
        <ul>
          @for (itrC of itrItem.list; track itrC){
          <li>{{ itrC }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  }
</section>
