<section class="container" [@fadeInOut]>
  @for (itrItem of items; track itrItem; let index = $index){
  <div
    class="item"
    [attr.data-aos]="index > 1 ? 'fade-up' : null"
    [attr.data-aos-duration]="index > 1 ? '1000' : null"
  >
    <div class="card">
      <img
        [srcset]="
          itrItem.url +
          '320.avif   320w,' +
          itrItem.url +
          '480.avif   480w,' +
          itrItem.url +
          '800.avif   800w,' +
          itrItem.url +
          '1200.avif 1200w'
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        [alt]="itrItem.title"
        onerror="this.src='assets/errors/default.avif'"
      />
      <div class="description">
        <h2>
          <strong> {{ itrItem.title }}</strong>
        </h2>
        <ul>
          @for (itrC of itrItem.list; track itrC){
          <li>{{ itrC }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
  }
</section>
