<section class="container" [@fadeInOut]>
  <div class="head">
    <img
      title="logo quater"
      alt="logo quater"
      class="logo"
      src="assets/quater/quater_logo_desktop.svg"
    />
    <label class="space"></label>
    <ul>
      <li (click)="openInfo('phone')">
        <img
          title="icono teléfono"
          alt="icono teléfono"
          src="assets/quater/phone-icon.svg"
        />
        <label>2228947194</label>
      </li>
      <li (click)="openInfo('email')">
        <img
          title="icono correo electrónico"
          alt="icono correo electrónico"
          src="assets/quater/email-icon.svg"
        />
        <label>solucionescomerciales_jmpf&#64;Outlook.com</label>
      </li>
    </ul>
  </div>

  <app-presentation></app-presentation>

  <app-us-info></app-us-info>
  <app-comprehensive-solutions></app-comprehensive-solutions>

  <app-container-problem-solution></app-container-problem-solution>

  <app-more-info></app-more-info>
  <app-how-it-works></app-how-it-works>
</section>
