<div class="question_product">
  <img
    srcset="
      ./assets/products/water_meters_question/320.avif   320w,
      ./assets/products/water_meters_question/480.avif   480w,
      ./assets/products/water_meters_question/800.avif   800w,
      ./assets/products/water_meters_question/1200.avif 1200w
    "
    sizes="
      (max-width: 320px) 320px,
      (max-width: 480px) 480px,
      (max-width: 800px) 800px,
      1200px
    "
    alt="medidores de agua"
    loading="lazy"
    priority
  />
  <h2>
    ¿No estás seguro de qué <strong>medidor de agua</strong> necesitas?<br />
    ¡Contáctenos! Estamos aquí para ayudarte sin compromiso.
  </h2>
</div>
