<div class="question_product">
  <img
    srcset="
      ./assets/products/cual-es-el-medidor-de-agua-que-necesito/cual-es-el-medidor-de-agua-que-necesito-320.avif   320w,
      ./assets/products/cual-es-el-medidor-de-agua-que-necesito/cual-es-el-medidor-de-agua-que-necesito-480.avif   480w,
      ./assets/products/cual-es-el-medidor-de-agua-que-necesito/cual-es-el-medidor-de-agua-que-necesito-800.avif   800w,
      ./assets/products/cual-es-el-medidor-de-agua-que-necesito/cual-es-el-medidor-de-agua-que-necesito-1200.avif 1200w
    "
    sizes="
      (max-width: 320px) 320px,
      (max-width: 480px) 480px,
      (max-width: 800px) 800px,
      1200px
    "
    title="medidores de agua"
    alt="medidores de agua"
    loading="lazy"
    priority
  />
  <h2>
    ¿No estás seguro de qué <strong>medidor de agua</strong> comprar?<br />
    ¡Contáctenos! Estamos aquí para ayudarte sin compromiso.
  </h2>
</div>
