<section>
  @if(platform.isBrowser){
  <owl-carousel-o [options]="customOptions">
    @for (itrData of list_item; track itrData){
    <ng-template carouselSlide>
      <img
        loading="lazy"
        (click)="navigateLink(itrData.link)"
        [src]="carouselPipe.transform(itrData, 'image-publicity')"
        [alt]="itrData.id"
        onerror="this.src='assets/errors/default.avif'"
      />
    </ng-template>
    }
  </owl-carousel-o>
  }@else {
  <ul class="text-hidden">
    @for (itrData of list_item; track itrData){
    <li>{{ itrData.link + " " + itrData.url }}</li>
    }
  </ul>
  }
</section>
