.container {
  width: 100%;
  padding: 1rem;
  background-color: white;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 5fr;
}

aside {
  grid-column: 1 / 2;
  width: 100%;
  min-height: 100vh;
}

article {
  position: relative;
  grid-column: 2 /6;
  width: 100%;
  overflow: hidden;
}

article h2 {
  padding: 1rem;
  margin: 0;
  color: var(--color1-1);
}

::ng-deep #tableProduct .table_cell:nth-child(1),
::ng-deep #tableProduct .table_th:nth-child(1),
::ng-deep #tableProduct .table_td:nth-child(1),
::ng-deep #tableProduct .table_cell:nth-child(2),
::ng-deep #tableProduct .table_th:nth-child(2),
::ng-deep #tableProduct .table_td:nth-child(2) {
  padding: 0;
  width: 40%;
}

@media screen and (max-width: 549px) {
  aside {
    display: none;
  }

  article {
    grid-column: 1/6;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
