<!-- <app-loading></app-loading> -->

<mat-sidenav-container #sideNav>
  <mat-sidenav [(opened)]="sideNavStatus" aria-hidden="true">
    <aside><app-movil-nav></app-movil-nav></aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-head-nav></app-head-nav>
    </header>
    <main>
      <h1>Medidores para agua</h1>
      <router-outlet></router-outlet>
      <div class="social_networks">
        <a href="https://www.facebook.com/61551873939168" target="_blank">
          <img
            loading="lazy"
            src="./../assets/social_networks/facebook.svg"
            alt="facebook medidores de agua"
        /></a>

        <a
          href="https://www.instagram.com/soluciones_hidraulica_pereira/"
          target="_blank"
        >
          <img
            loading="lazy"
            src="./../assets/social_networks/instagram.svg"
            alt="Instagram medidores de agua"
        /></a>

        <a href="https://wa.me/524422264978" target="_blank">
          <img
            loading="lazy"
            src="./../assets/social_networks/whatsapp.svg"
            alt="whatsapp medidores de agua"
        /></a>
      </div>
    </main>
    <footer>
      <p (click)="openPdfPrivacy()">Políticas de privacidad.</p>
      <p>
        Copyright © 2016-{{ currentYear }} Soluciones Comerciales Hidráulicas
        Pereira.
      </p>
      <p>Todos los derechos reservados.</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
