<nav>
  <ul>
    <li
      [class]="selectOption.home ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="Inicio" routerLink="/Inicio">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/home_icon.svg"
          title="inicio"
          alt="inicio"
        />
        <h2>Inicio</h2></a
      >
    </li>
    <li
      [class]="selectOption.water_meter ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="Medidor de agua" routerLink="/MedidorDeAgua">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/water-meter-icon.svg"
          title="Medidores de agua"
          alt="Medidores de agua"
        />
        <h2>Medidores de agua</h2></a
      >
    </li>
    <li
      [class]="selectOption.telemetry ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="telemetría" routerLink="/Telemetria">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/networking_icon.svg"
          title="telemetría"
          alt="telemetría"
        />
        <h2>Telemetría</h2></a
      >
    </li>

    <li
      [class]="selectOption.product ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="productos" routerLink="/Productos">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/product_icon.svg"
          title="productos"
          alt="productos"
        />
        <h2>Productos</h2></a
      >
    </li>
    <li
      [class]="selectOption.service ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="servicios" routerLink="/Servicios">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/service_icon.svg"
          title="servicios"
          alt="servicios"
        />
        <h2>Servicios</h2></a
      >
    </li>

    <li
      [class]="selectOption.contact ? 'li_active' : ''"
      (click)="statusSideNav.emit()"
    >
      <a title="contacto" routerLink="/Contacto">
        <img
          loading="lazy"
          src="./../../../../../assets/icons/contact_icon.svg"
          title="contacto"
          alt="contacto"
        />
        <h2>Contacto</h2></a
      >
    </li>
  </ul>
  <section class="empty" (click)="statusSideNav.emit()"></section>
</nav>
