<section class="container" [@fadeInOut]>
  <aside><app-filters-product></app-filters-product></aside>
  <article>
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2>
        <strong>Medidores de agua</strong>
        <hr />
      </h2>
      <div class="carousel">
        <app-carousel-products [data]="water_meters"></app-carousel-products>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2>
        <strong>Válvulas</strong>
        <hr />
      </h2>
      <div class="carousel">
        <app-carousel-products [data]="valves"></app-carousel-products>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2>
        <strong>Conexiones</strong>
        <hr />
      </h2>
      <div class="carousel">
        <app-carousel-products [data]="connections"></app-carousel-products>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2>
        <strong>Productos Itron(Accell)</strong>
        <hr />
      </h2>
      <div class="carousel">
        <app-carousel-products
          [data]="itronAccellProducts"
        ></app-carousel-products>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2>
        <strong>Productos Alfa</strong>
        <hr />
      </h2>
      <div class="carousel">
        <app-carousel-products [data]="alfaProducts"></app-carousel-products>
      </div>
    </div>
  </article>
</section>
