::ng-deep app-category-product {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.container h2 {
  width: 100%;
  margin: 0;
  font-size: max(1rem, 1.5rem);
}

.container ul {
  padding: 0;
  margin-top: 1rem;
  width: 100%;
  list-style-type: none;
}

.container li {
  font-weight: 500;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.more_items {
  color: var(--color1-1);
}

a {
  text-decoration: none;
  color: var(--color1-1);
}
