<section class="container">
  <h2><strong>Categorías</strong></h2>
  <ul>
    <li
      *ngFor="let itrCategory of categories"
      (click)="applySearch(itrCategory)"
    >
      {{ productPipe.transform(itrCategory.nombre, "name-filter") }}
    </li>
  </ul>

  <h2><strong>Materiales</strong></h2>
  <ul>
    <li
      *ngFor="let itrMaterial of materials"
      (click)="applySearch(itrMaterial)"
    >
      {{ productPipe.transform(itrMaterial.nombre, "name-filter") }}
    </li>
  </ul>

  <h2><strong>Marcas</strong></h2>
  <ul>
    <li *ngFor="let itrBrand of brands" (click)="applySearch(itrBrand)">
      {{ productPipe.transform(itrBrand.nombre, "name-filter") }}
    </li>
  </ul>
</section>
