::ng-deep :root 
{
    --color1-1: rgba(146, 55, 6,0.80);
    --color1-2: rgb(146, 56, 6);
    --color1-3: rgb(112, 40, 2);
    --color1-4: rgba(112, 40, 2,0.2);

    --color2-1: rgba(163, 234, 238, .15);

    --color3-1: rgb(255, 255, 255);
    --color3-2: rgb(245, 245, 245);
    --color3-3: rgb(219, 219, 219);
    --color3-4: rgb(197, 189, 189);
    --color3-5: rgb(220, 217, 217);
    --color3-6: rgb(250, 250, 250);

    --color4-1:rgb(0, 0, 0);
    --color4-2: rgba(0, 0, 0,0.8);
    --color4-3: rgba(0,0,0,.12);
    --color4-4: rgba(0,0,0,.04);
    --color4-5: rgba(0, 0, 0,0.5);
    --color4-6: rgba(0, 0, 0,0.4);
    --color4-7: rgba(0, 0, 0,0.65);

    --color5-1: rgba(219, 168, 0,0.8);

    --color6-1: rgba(0, 0, 97,0.75);
    --color6-2: rgba(15, 109, 155,0.75);

    --color7-1: rgba(4, 118, 1,0.75);
    --color8-1: rgba(250, 11, 6, 0.8);
  }