@import './colors.css';

::ng-deep mat-horizontal-stepper
{
    width:100%;
    height: 100%;

    display: flex !important;
    flex-direction: column !important;
}

::ng-deep .mat-horizontal-content-container
{
    padding: 0 !important;
    flex-grow: 10 !important;
    height: 1rem;
    overflow: auto !important;
    background-color: var(--color3-1);
}

::ng-deep .mat-horizontal-stepper-header-container
{
    background-color: var(--color3-2);
    height: 3rem !important;
}

::ng-deep mat-step-header
{
    padding-bottom: 0 !important;
}

::ng-deep .mat-horizontal-stepper-content
{
    height: 100%;
    width: 100%;
}

::ng-deep .mat-step-icon {
    background-color: var(--color4-1) !important;
    color: var(--color4-1) !important;
}

::ng-deep .mat-step-icon-selected {
    font-weight: bolder;
    font-size: 1rem;
    background-color: var(--color1-3) !important;
    color: var(--color1-3) !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, 
.mat-vertical-stepper-header 
{
    padding: 12px 24px;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 1.5rem;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after
{
    display:none !important;
}

@media screen and (min-width:768px)
{
    ::ng-deep .mat-horizontal-stepper-header-container
    {
        padding-left: 8.5rem;
    }
}