<section class="container" [@fadeInOut]>
  <div class="carousel-publicity">
    <app-carousel-images [data]="carousels.publicity"></app-carousel-images>
  </div>

  <app-banner-brands></app-banner-brands>
  <app-question-product></app-question-product>

  <app-banner-quater></app-banner-quater>

  <div class="carousel_product">
    <app-carousel-products [data]="carousels.products"></app-carousel-products>
  </div>

  <app-banner-telemetry></app-banner-telemetry>
  <app-banner-quotation></app-banner-quotation>
  <app-banner-type-watermeter></app-banner-type-watermeter>
  <app-banner-category></app-banner-category>
  <app-banner-some-products></app-banner-some-products>
</section>
