<section class="container" [@fadeInOut]>
  <div class="carousel-publicity">
    <app-carousel-images [data]="carousels.publicity"></app-carousel-images>
  </div>

  <app-banner-brands
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-brands>
  <app-question-product
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-question-product>

  <div class="carousel_product" data-aos="fade-up" data-aos-duration="1000">
    <app-carousel-products [data]="carousels.products"></app-carousel-products>
  </div>

  <app-banner-telemetry
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-telemetry>
  <app-banner-quotation
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-quotation>
  <app-banner-type-watermeter
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-type-watermeter>
  <app-banner-category
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-category>
  <app-banner-some-products
    data-aos="fade-up"
    data-aos-duration="1000"
  ></app-banner-some-products>
</section>
