<nav class="movil">
  <button mat-icon-button aria-label="Menu" (click)="clickSideNav()">
    <img
      loading="lazy"
      fetchpriority="low"
      src="./../../../../../assets/icons/burger_icon.svg"
      alt="Menu"
    />
  </button>
  <img
    loading="lazy"
    src="./../../../../../assets/logos/movil_schp.svg"
    class="logo_general"
    alt="logo_schp_movil"
  />
  <div class="space"></div>

  <button aria-label="Búsqueda" (click)="openModalSearch()">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/search-icon.svg"
      alt="Buscar"
    />
  </button>
  <button aria-label="Carrito de compras">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/carshopping-icon.svg"
      alt="Carrito compras"
    />
  </button>
</nav>

<div class="tablet">
  <img
    loading="lazy"
    src="./../../../../../assets/logos/movil_schp.svg"
    class="logo_general"
    alt="logo_schp_tablet"
  />

  @if(!viewSearch){
  <nav>
    <ul>
      <li [class]="selectOption.home ? 'li_active' : ''" routerLink="Inicio">
        Inicio
      </li>
      <li
        [class]="selectOption.product ? 'li_active' : ''"
        routerLink="Productos"
      >
        Productos
      </li>
      <li
        [class]="selectOption.service ? 'li_active' : ''"
        routerLink="Servicios"
      >
        Servicios
      </li>
      <li
        [class]="selectOption.telemetry ? 'li_active' : ''"
        routerLink="Telemetria"
      >
        Telemetría
      </li>
      <!-- <li [class]="selectOption.invoice ? 'li_active' : ''">Facturación</li> -->
      <li
        [class]="selectOption.contact ? 'li_active' : ''"
        routerLink="Contacto"
      >
        Contacto
      </li>
    </ul>
  </nav>

  <button aria-label="Búsqueda" (click)="viewSearch = !viewSearch">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/search-icon.svg"
      alt="Buscar"
    />
  </button>
  <button aria-label="Carrito de compras">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/carshopping-icon.svg"
      alt="Carrito compras"
    />
  </button>
  } @else {
  <label class="space"></label>
  <div class="search">
    <app-input-search [colorIcon]="'white'"></app-input-search>
  </div>
  <button (click)="viewSearch = false" aria-label="Retornar" mat-icon-button>
    <img
      loading="lazy"
      src="./../../../../../assets/icons/return-icon.svg"
      alt="close"
    />
  </button>
  }
</div>
