<nav class="movil">
  <button
    type="button"
    mat-icon-button
    aria-label="Menu"
    (click)="clickSideNav()"
  >
    <img
      loading="lazy"
      fetchpriority="low"
      src="./../../../../../assets/icons/burger_icon.svg"
      title="Menu"
      alt="Menu"
    />
  </button>
  <img
    loading="lazy"
    src="./../../../../../assets/logos/movil_schp.svg"
    class="logo_general"
    title="logo soluciones comerciales hidráulicas Pereira"
    alt="logo soluciones comerciales hidráulicas Pereira"
  />
  <div class="space"></div>

  <img
    loading="lazy"
    src="./../../../../../assets/quater/quater_logo.svg"
    class="logo_general logo_quater"
    title="logo quater"
    alt="logo quater"
    routerLink="/Quater"
  />
  <button type="button" aria-label="Búsqueda" (click)="openModalSearch()">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/search-icon.svg"
      title="Buscar"
      alt="Buscar"
    />
  </button>
  <button type="button" aria-label="Carrito de compras">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/carshopping-icon.svg"
      title="Carrito cotización"
      alt="Carrito cotización"
    />
  </button>
</nav>

<div class="tablet">
  <img
    loading="lazy"
    src="./../../../../../assets/logos/movil_schp.svg"
    class="logo_general"
    title="logo soluciones comerciales hidráulicas Pereira"
    alt="logo soluciones comerciales hidráulicas Pereira"
  />

  @if(!viewSearch){
  <nav>
    <ul>
      <li [class]="selectOption.home ? 'li_active' : ''">
        <a title="Inicio" routerLink="/Inicio">Inicio</a>
      </li>
      <li [class]="selectOption.water_meter ? 'li_active' : ''">
        <a title="Medidores de agua" routerLink="/MedidorDeAgua"
          >Medidores de agua</a
        >
      </li>
      <li [class]="selectOption.telemetry ? 'li_active' : ''">
        <a title="Telemetria" routerLink="/Telemetria">Telemetría</a>
      </li>

      <li [class]="selectOption.service ? 'li_active' : ''">
        <a title="Servicios" routerLink="/Servicios">Servicios</a>
      </li>
      <li [class]="selectOption.product ? 'li_active' : ''">
        <a title="Productos" routerLink="/Productos">Productos</a>
      </li>
      <li [class]="selectOption.contact ? 'li_active' : ''">
        <a title="Contacto" routerLink="/Contacto">Contacto</a>
      </li>
    </ul>
  </nav>

  <img
    loading="lazy"
    src="./../../../../../assets/quater/quater_logo.svg"
    class="logo_general logo_quater"
    title="logo quater"
    alt="logo quater"
    routerLink="/Quater"
  />

  <button
    type="button"
    aria-label="Búsqueda"
    (click)="viewSearch = !viewSearch"
  >
    <img
      loading="lazy"
      src="./../../../../../assets/icons/search-icon.svg"
      title="Buscar"
      alt="Buscar"
    />
  </button>
  <button type="button" aria-label="Carrito de compras">
    <img
      loading="lazy"
      src="./../../../../../assets/icons/carshopping-icon.svg"
      title="Carrito cotización"
      alt="Carrito cotización"
    />
  </button>
  } @else {
  <label class="space"></label>
  <div class="search">
    <app-input-search [colorIcon]="'white'"></app-input-search>
  </div>
  <button
    type="button"
    (click)="viewSearch = false"
    aria-label="Retornar"
    mat-icon-button
  >
    <img
      loading="lazy"
      src="./../../../../../assets/icons/return-icon.svg"
      title="cerrar"
      alt="cerrar"
    />
  </button>
  }
</div>
