<div class="container">
    <div class="listInteresting">
        <label class="itemInterest">Tambien puede ser de tu interes: </label>
        <label (click)="viewAnotherProduct(itrIterest)" *ngFor="let itrIterest of publicity[0]" class="itemInterest">{{itrIterest.nombre}}</label>
    </div>

    <div class="listReturn">
        <label class="itemReturn">Regresar a lista&nbsp;&nbsp;|</label>
        <label class="itemReturn">Productos&nbsp;&nbsp;&nbsp;></label>
        <label class="itemReturn">{{currentProduct.category.nombre}}&nbsp;&nbsp;&nbsp;></label>
        <label class="itemReturn">{{currentProduct.nombre}}</label>
        <label class="space"></label>

        <label class="itemReturn">Compartir&nbsp;<mat-icon class="iconReturn">share</mat-icon></label>

    </div>

    <div class="cardData">
        <div class="carousel_web">
            <div class="listImg">
                <img (click)="viewCurrentImg=pipeProduct.transform(itrFile,0,'image2')" *ngFor="let itrFile of currentProduct.files | slice:0:5;" [src]="pipeProduct.transform(itrFile,0,'image2')" alt="imagen de producto mini" class="itrImg" onerror="this.onerror=null;this.src='./../../../../assets/default.jpg';" />
            </div>
            <div class="visorImage">
                <img [src]="viewCurrentImg" alt="imagen de producto grande" class="itrImgVisor" onerror="this.onerror=null;this.src='./../../../../assets/default.jpg';"/>
            </div>
        </div>
        <div class="carousel_movil">
            <carousel_images [autoplay]="false" [dataSlides]="currentProduct.files"></carousel_images>
        </div>

        <div class="details">
            <div class="details_title">{{currentProduct.nombre}}</div>
            <div class="characteristic_title">Caracteristicas</div>

            <div class="details_characteristic">
                <label class="characteristic_text">Clave: </label>{{currentProduct.clave}}
            </div>
            <div class="details_characteristic">
                <label class="characteristic_text">Proveedor: </label>Soluciones CHP
            </div>
            <div class="details_characteristic">
                <label class="characteristic_text">Material: </label>{{currentProduct.material.nombre}}
            </div>

            <div class="characteristic_title">Descripcion</div>
            <div class="details_characteristic">
                {{currentProduct.description.detalle}}
            </div>
        </div>

        <div class="operation">
            <div class="extra_info">
                <img alt="Envio de medidor de agua" class="img_extra" src="../../../../../assets/delivery_icon.jpg" />
                <label class="text_extra">Envios desde $99.00 pesos</label>
            </div>

            <div class="extra_info">
                <img alt="Compra de medidor de agua" class="img_extra" src="../../../../../assets/segure_icon.jpg" />
                <label class="text_extra">Compras 100% seguras</label>
            </div>

            <label class="space"></label>
            <form  (submit)="false" [formGroup]="formGroup" class="form">
                <mat-form-field appearance="none" class="form_item">
                    <mat-label>Cantidad</mat-label>
                    <input  [errorStateMatcher]="matcher" formControlName="quantity"  matInput min="1"  type="number">
                    <mat-error *ngIf="formGroup.invalid">Cantidad no valida</mat-error>
                </mat-form-field>
                <button (click)="requestQuotation()" class="btn_now" mat-flat-button type="button">Cotizar ahora</button>
                <button (click)="addProduct()" class="btn_add" mat-stroked-button type="button">Agregar al carrito de cotizacion</button>
            </form>
            <label class="space"></label>

            <ul class="extra_info_list">
                <li>Precio unico de distribudor</li>
                <li>Distintos medios de pago</li>
                <li>Facturacion</li>
                <li>Garantia</li>
            </ul>

            <label class="space"></label>
        </div>

    </div>

    <div *ngIf="publicity[1].length == 0?false:true" class="anotherProduct">
        <div class="anotherProduct_text">Productos del mismo proveedor</div>
        <carousel-cards [dataSlides]="publicity[1]"></carousel-cards>
    </div>

    <div class="publicity">
        <publicity-card></publicity-card>
    </div>
</div>
