<div class="some_products">
  <div class="container">
    <h2>Medidores de agua y todo lo relacionado.</h2>
    <div class="list_products">
      <ul>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Niples' }"
            >Niples</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Tees' }"
            >Tees</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Sensor de pulsos' }"
            >Sensor de pulsos</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Filtros' }"
            >Filtros</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Válvula expulsora de aire' }"
            >Válvula expulsora de aire</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Pvc' }"
            >Pvc</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Dosificadora' }"
            >Dosificadora</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Emisor de pulsos' }"
            >Emisor de pulsos</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Abrazadera' }"
            >Abrazadera</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Válvula media luna' }"
            >Válvula media luna</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Kit de conexiones' }"
            >Kit de conexiones</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Teflon' }"
            >Teflon</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Codos' }"
            >Codos</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Adhesivo' }"
            >Adhesivo</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Seguros' }"
            >Seguros</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Estrella expansiva' }"
            >Estrella expansiva</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Tubería' }"
            >Tubería</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Cpvc' }"
            >Cpvc</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Soldadura' }"
            >Soldadura</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Gas' }"
            >Gas</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Empaque plano' }"
            >Empaque plano</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: '' }"
            >Válvula reductora</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Adaptadores' }"
            >Adaptadores</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Tuerca union' }"
            >Tuerca union</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Caja para medidor' }"
            >Caja para medidor</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Válvula check' }"
            >Válvula check</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Tapón' }"
            >Tapón</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Válvula media luna' }"
            >Válvula media luna</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Conexiones' }"
            >Conexiones</a
          >
        </li>
        <li>
          <a
            (click)="shareDataSearchService.close$.emit()"
            routerLink="/Productos/Busqueda"
            [queryParams]="{ data: 'Empaque cónico' }"
            >Empaque cónico</a
          >
        </li>
      </ul>
    </div>
  </div>
  <img
    loading="lazy"
    src="./../../../../../assets/products/products_all.avif"
    alt="productos relacionados a medidores de agua"
  />
</div>
