<div class="some_products">
  <div class="container">
    <h2>Medidores de agua y todo lo relacionado.</h2>
    <div class="list_products">
      <ul>
        <li (click)="viewProduct('Niples')">Niples</li>
        <li (click)="viewProduct('Tees')">Tees</li>
        <li (click)="viewProduct('Sensor de pulsos')">Sensor de pulsos</li>
        <li (click)="viewProduct('Filtros')">Filtros</li>
        <li (click)="viewProduct('Válvula expulsora de aire')">
          Válvula expulsora de aire
        </li>
        <li (click)="viewProduct('Pvc')">Pvc</li>
        <li (click)="viewProduct('Dosificadora')">Dosificadora</li>
        <li (click)="viewProduct('Emisor de pulsos')">Emisor de pulsos</li>
        <li (click)="viewProduct('Abrazadera')">Abrazadera</li>
        <li (click)="viewProduct('Válvula media luna')">Válvula media luna</li>
      </ul>
      <ul>
        <li (click)="viewProduct('Kit de conexiones')">Kit de conexiones</li>
        <li (click)="viewProduct('Teflon')">Teflon</li>
        <li (click)="viewProduct('Codos')">Codos</li>
        <li (click)="viewProduct('Adhesivo')">Adhesivo</li>
        <li (click)="viewProduct('Seguros')">Seguros</li>
        <li (click)="viewProduct('Estrella expansiva')">Estrella expansiva</li>
        <li (click)="viewProduct('Tubería')">Tubería</li>
        <li (click)="viewProduct('Cpvc')">Cpvc</li>
        <li (click)="viewProduct('Soldadura')">Soldadura</li>
        <li (click)="viewProduct('Gas')">Gas</li>
      </ul>
      <ul>
        <li (click)="viewProduct('Empaque plano')">Empaque plano</li>
        <li (click)="viewProduct('Válvula reductora')">Válvula reductora</li>
        <li (click)="viewProduct('Adaptadores')">Adaptadores</li>
        <li (click)="viewProduct('Tuerca union')">Tuerca union</li>
        <li (click)="viewProduct('Caja para medidor')">Caja para medidor</li>
        <li (click)="viewProduct('Válvula check')">Válvula check</li>
        <li (click)="viewProduct('Tapón')">Tapón</li>
        <li (click)="viewProduct('Válvula media luna')">Válvula media luna</li>
        <li (click)="viewProduct('Conexiones')">Conexiones</li>
        <li (click)="viewProduct('Empaque cónico')">Empaque cónico</li>
      </ul>
    </div>
  </div>
  <img
    loading="lazy"
    src="./../../../../../assets/products/products_all.avif"
    alt="productos relacionados a medidores de agua"
  />
</div>
