<div class="quotation">
  <h2>Pide tu cotización fácil y rápido. Estamos listos para ayudarte.</h2>

  <img
    srcset="
      ./assets/home/quotation/320.avif   320w,
      ./assets/home/quotation/480.avif   480w,
      ./assets/home/quotation/800.avif   800w,
      ./assets/home/quotation/1200.avif 1200w
    "
    sizes="
    (max-width: 320px) 320px,
    (max-width: 480px) 480px,
    (max-width: 800px) 800px,
    1200px
  "
    alt="cotizar medidores de agua"
    loading="lazy"
    priority
  />
</div>
