<div class="quotation">
  <h2>
    Cotiza y compra medidores de agua de forma fácil y rápida. ¡Estamos listos
    para ayudarte!
  </h2>

  <img
    srcset="
      ./assets/home/cotizar-medidores-para-agua/cotizar-medidores-para-agua-320.avif   320w,
      ./assets/home/cotizar-medidores-para-agua/cotizar-medidores-para-agua-480.avif   480w,
      ./assets/home/cotizar-medidores-para-agua/cotizar-medidores-para-agua-800.avif   800w,
      ./assets/home/cotizar-medidores-para-agua/cotizar-medidores-para-agua-1200.avif 1200w
    "
    sizes="
    (max-width: 320px) 320px,
    (max-width: 480px) 480px,
    (max-width: 800px) 800px,
    1200px
  "
    title="cotizar medidores de agua"
    alt="cotizar medidores de agua"
    loading="lazy"
    priority
  />
</div>
