<div class="container">
    <div class="img_title"></div>

    <div class="content_web">
        <div class="menu">
            <mat-list>
                <mat-list-item [ngClass]="{'menu_item_select':tabAboutUs._indexToSelect==0,'menu_item_unselect':tabAboutUs._indexToSelect!=0}" (click)="tabAboutUs._indexToSelect=0">Quienes somos</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="{'menu_item_select':tabAboutUs._indexToSelect==1,'menu_item_unselect':tabAboutUs._indexToSelect!=1}" (click)="tabAboutUs._indexToSelect=1">Nuestra Mision</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="{'menu_item_select':tabAboutUs._indexToSelect==2,'menu_item_unselect':tabAboutUs._indexToSelect!=2}" (click)="tabAboutUs._indexToSelect=2">Nuestra Vision</mat-list-item>
              </mat-list>
        </div>
    
        <mat-tab-group #tabAboutUs mat-align-tabs="start" class="content">
            <mat-tab  disabled *ngFor="let itrMenu of menuList;let index=index;">
                <div class="content__item">
                    <label>{{itrMenu.description}}</label>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="content_movil">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let itrMenu of menuList; let index=index;">
              <mat-expansion-panel-header>
                <mat-panel-title>{{itrMenu.title}}</mat-panel-title>
              </mat-expansion-panel-header>
              {{itrMenu.description}}
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
