<section class="container" [@fadeInOut]>
  <div class="info">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.746199553572!2d-100.4845414899627!3d20.639199400966604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35bffab150227%3A0xe2722bc4d074b5d2!2sVenta%20de%20Medidores%20de%20agua%20y%20todo%20relacionado%20en%20tomas%20de%20agua!5e0!3m2!1sen!2smx!4v1736191540362!5m2!1sen!2smx"
        width="600"
        height="450"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="address">
      <img
        srcset="
          ./assets/contact/medidores-para-agua-querétaro/medidores-para-agua-querétaro-320.avif   320w,
          ./assets/contact/medidores-para-agua-querétaro/medidores-para-agua-querétaro-480.avif   480w,
          ./assets/contact/medidores-para-agua-querétaro/medidores-para-agua-querétaro-800.avif   800w,
          ./assets/contact/medidores-para-agua-querétaro/medidores-para-agua-querétaro-1200.avif 1200w
        "
        sizes="
            (max-width: 320px) 320px,
            (max-width: 480px) 480px,
            (max-width: 800px) 800px,
            1200px
          "
        loading="lazy"
        priority
        title="medidores de agua en Querétaro"
        alt="medidores de agua en Querétaro"
        class="city"
      />

      <h2>Sucursal <strong>Querétaro</strong></h2>
      <ul>
        <li>
          <img
            title="ubicación para medidores de agua"
            alt="ubicación para medidores de agua"
            src="assets/general/pin.svg"
          />
          <p>
            C. Sendero de los Frailes 400, <br />Valle de Santiago, <br />Ciudad
            del Sol, 76116 <br />Santiago de Querétaro, Qro.
          </p>
        </li>
        <li>
          <img
            title="Teléfono para medidores de agua en Querétaro"
            alt="teléfono para medidores de agua en Querétaro"
            src="assets/general/phone.svg"
          />
          <p>2228947194</p>
        </li>
        <li>
          <img
            title="correo para medidores de agua en Querétaro"
            alt="correo para medidores de agua en Querétaro"
            src="assets/general/email.svg"
          />
          <p>{{ email }}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="info">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.399512867802!2d-98.2120649254713!3d19.002109282187263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc14e2e34cf31%3A0xd1daf41892ae66b1!2sVenta%20de%20Medidores%20de%20Agua%20y%20todo%20lo%20relacionado%20con%20tomas%20de%20agua!5e0!3m2!1sen!2smx!4v1736195662197!5m2!1sen!2smx"
        width="600"
        height="450"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="address">
      <img
        srcset="
          ./assets/contact/medidores-para-agua-puebla/medidores-para-agua-puebla-320.avif   320w,
          ./assets/contact/medidores-para-agua-puebla/medidores-para-agua-puebla-480.avif   480w,
          ./assets/contact/medidores-para-agua-puebla/medidores-para-agua-puebla-800.avif   800w,
          ./assets/contact/medidores-para-agua-puebla/medidores-para-agua-puebla-1200.avif 1200w
        "
        sizes="
      (max-width: 320px) 320px,
      (max-width: 480px) 480px,
      (max-width: 800px) 800px,
      1200px
    "
        loading="lazy"
        priority
        class="city"
        title="medidores de agua en puebla"
        alt="medidores de agua en puebla"
      />

      <h2>Sucursal <strong>Puebla</strong></h2>
      <ul>
        <li>
          <img
            title="ubicación para medidores de agua en Puebla"
            alt="ubicación para medidores de agua en Puebla"
            src="assets/general/pin.svg"
          />
          <p>
            Privada 63 f Ote. 1213-2, <br />Loma Linda, 72477 <br />Heroica
            Puebla de Zaragoza, Pue.
          </p>
        </li>
        <li>
          <img
            title="teléfono para medidores de agua en Puebla"
            alt="teléfono para medidores de agua en Puebla"
            src="assets/general/phone.svg"
          />
          <p>2228947194</p>
        </li>
        <li>
          <img
            title="correo para medidores de agua en Puebla"
            alt="correo para medidores de agua en Puebla"
            src="assets/general/email.svg"
          />
          <p>{{ email }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
