<div class="telemetria_info">
  <img
    srcset="
      ./assets/telemetry/telemetría-para-medidores-para-agua/telemetría-para-medidores-para-agua-320.avif   320w,
      ./assets/telemetry/telemetría-para-medidores-para-agua/telemetría-para-medidores-para-agua-480.avif   480w,
      ./assets/telemetry/telemetría-para-medidores-para-agua/telemetría-para-medidores-para-agua-800.avif   800w,
      ./assets/telemetry/telemetría-para-medidores-para-agua/telemetría-para-medidores-para-agua-1200.avif 1200w
    "
    sizes="
      (max-width: 320px) 320px,
      (max-width: 480px) 480px,
      (max-width: 800px) 800px,
      1200px
    "
    title="telemetría para medidores de agua"
    alt="telemetría para medidores de agua"
    loading="lazy"
    priority
  />
  <div class="description">
    <h2>
      Ahorra tiempo y dinero con medidores inteligentes y
      <strong>telemetría</strong> del agua
    </h2>
    <ul class="checklist">
      <li>
        <strong>Reducción de costos operativos</strong>
      </li>
      <li>
        <strong>Optimización del consumo</strong>
      </li>
      <li>
        <strong>Ahorro de tiempo</strong>
      </li>
      <li>
        <strong>Alertas y notificaciones en tiempo real</strong>
      </li>
      <li>
        <strong>Mejora en la planificación y presupuesto</strong>
      </li>
      <li>
        <strong>Acceso remoto</strong>
      </li>
      <li>
        <strong>Análisis de datos avanzados</strong>
      </li>
      <li>
        <strong>Mayor precisión en la facturación</strong>
      </li>
      <li>
        <strong>Sostenibilidad</strong>
      </li>
      <li>
        <strong>Mejora en la satisfacción del cliente</strong>
      </li>
    </ul>

    <a title="Telemetria" routerLink="/Telemetria">
      <button type="button" mat-stroked-button>Ver mas</button>
    </a>
  </div>
</div>
