<div class="telemetria_info">
  <img
    loading="lazy"
    title="telemetría"
    src="./../../../../../assets/general/telemetria.avif"
  />
  <div class="description">
    <h2>
      Ahorra tiempo y dinero con medidores inteligentes y
      <strong>telemetría</strong> del agua
    </h2>
    <ul class="checklist">
      <li>
        <strong>Reducción de costos operativos</strong>
      </li>
      <li>
        <strong>Optimización del consumo</strong>
      </li>
      <li>
        <strong>Ahorro de tiempo</strong>
      </li>
      <li>
        <strong>Alertas y notificaciones en tiempo real</strong>
      </li>
      <li>
        <strong>Mejora en la planificación y presupuesto</strong>
      </li>
      <li>
        <strong>Acceso remoto</strong>
      </li>
      <li>
        <strong>Análisis de datos avanzados</strong>
      </li>
      <li>
        <strong>Mayor precisión en la facturación</strong>
      </li>
      <li>
        <strong>Sostenibilidad</strong>
      </li>
      <li>
        <strong>Mejora en la satisfacción del cliente</strong>
      </li>
    </ul>

    <button mat-stroked-button routerLink="/Telemetria">Ver mas</button>
  </div>
</div>
