<section class="comprehensive_solutions">
  <h3 class="borde-color-quater"><strong>Soluciones integrales</strong></h3>
  <div class="items">
    <div data-aos="flip-left" data-aos-duration="1500">
      <img
        title="Administración de consumo condominal"
        alt="Administración de consumo condominal"
        src="assets/quater/condominio-icon.svg"
      />
      <p>Administración de <br />consumo condominal</p>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500">
      <img
        title="Proyectos llave en mano"
        alt="Proyectos llave en mano"
        src="assets/quater/project-icon.svg"
      />
      <p>Proyectos llave en mano</p>
    </div>

    <div data-aos="flip-left" data-aos-duration="1500">
      <img
        title="Gestión de dispositivos mediante LoRaWAN"
        alt="Gestión de dispositivos mediante LoRaWAN"
        src="assets/quater/signal-icon.svg"
      />
      <p>Gestión de dispositivos <br />mediante LoRaWAN</p>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500">
      <img
        title="Comercialización de medidores de agua"
        alt="Comercialización de medidores de agua"
        src="assets/quater/water_meter-icon.svg"
      />
      <p>Comercialización de <br />medidores de agua</p>
    </div>

    <div data-aos="flip-left" data-aos-duration="1500">
      <img
        title="Interconexión informativa con los organismos"
        alt="Interconexión informativa con los organismos"
        src="assets/quater/connection-icon.svg"
      />
      <p>Interconexión informativa <br />con los organismos</p>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500">
      <img
        title="Plataforma de transparencia en consumo y reporteo"
        alt="Plataforma de transparencia en consumo y reporteo"
        src="assets/quater/software-icon.svg"
      />
      <p>Plataforma de transparencia <br />en consumo y reporteo</p>
    </div>
  </div>
</section>
