<div class="categories">
  @for (itrCategory of categories; track itrCategory){
  <div class="item_category">
    <div class="card_category">
      <h3>
        <strong>{{ itrCategory.name }}</strong>
      </h3>

      <img
        [srcset]="
          itrCategory.url_img +
          '-320.avif   320w,' +
          itrCategory.url_img +
          '-480.avif   480w,' +
          itrCategory.url_img +
          '-800.avif   800w,' +
          itrCategory.url_img +
          '-1200.avif 1200w'
        "
        sizes="
          (max-width: 320px) 320px,
          (max-width: 480px) 480px,
          (max-width: 800px) 800px,
          1200px
        "
        [alt]="itrCategory.title"
        [title]="itrCategory.title"
        loading="lazy"
        priority
      />

      <a
        [title]="itrCategory.name"
        (click)="shareDataSearchService.close$.emit()"
        routerLink="/Productos/Busqueda"
        [queryParams]="{ data: itrCategory.name }"
      >
        <button type="button" mat-stroked-button>Ver mas</button>
      </a>
    </div>
  </div>
  }
</div>
