<section class="how_it_works">
  <div class="info">
    <h3 class="borde-color-quater">
      <strong>¿Cómo funciona? </strong>
    </h3>
    <img
      id="img-funcionamiento-desktop"
      (click)="viewImage(elementRef, '#img-funcionamiento-desktop')"
      class="desktop"
      title="flujo trabajo administración del agua"
      alt="flujo trabajo administración del agua"
      srcset="
        ./assets/quater/flujo-trabajo-administración-del-agua/flujo-trabajo-administración-del-agua-320.avif   320w,
        ./assets/quater/flujo-trabajo-administración-del-agua/flujo-trabajo-administración-del-agua-480.avif   480w,
        ./assets/quater/flujo-trabajo-administración-del-agua/flujo-trabajo-administración-del-agua-800.avif   800w,
        ./assets/quater/flujo-trabajo-administración-del-agua/flujo-trabajo-administración-del-agua-1200.avif 1200w
      "
      sizes="
        (max-width: 320px) 320px,
        (max-width: 480px) 480px,
        (max-width: 800px) 800px,
        1200px
      "
      src="./assets/quater/flujo-trabajo-administración-del-agua/flujo-trabajo-administración-del-agua-800.avif"
      loading="lazy"
      priority
    />
    <img
      id="img-funcionamiento-movil"
      (click)="viewImage(elementRef, '#img-funcionamiento-movil')"
      class="movil"
      title="flujo trabajo administración del agua"
      alt="flujo trabajo administración del agua"
      srcset="
        ./assets/quater/flujo-trabajo-administración-del-agua-movil/flujo-trabajo-administración-del-agua-movil-320.avif   320w,
        ./assets/quater/flujo-trabajo-administración-del-agua-movil/flujo-trabajo-administración-del-agua-movil-480.avif   480w,
        ./assets/quater/flujo-trabajo-administración-del-agua-movil/flujo-trabajo-administración-del-agua-movil-800.avif   800w,
        ./assets/quater/flujo-trabajo-administración-del-agua-movil/flujo-trabajo-administración-del-agua-movil-1200.avif 1200w
      "
      sizes="
        (max-width: 320px) 320px,
        (max-width: 480px) 480px,
        (max-width: 800px) 800px,
        1200px
      "
      src="./assets/quater/flujo-trabajo-administración-del-agua-movil/flujo-trabajo-administración-del-agua-movil-800.avif"
      loading="lazy"
      priority
    />
  </div>
</section>
